#banner {
  height: 80vh;
  max-height: 700px;
  overflow: hidden;
}

.banner-adoptable {
  background: linear-gradient(to left top, rgba(0, 0, 0, .2), rgba(0, 0, 0, .9)), url("{{site.baseurl}}/../images/banner-rescues.jpg") no-repeat center center;
  background-attachment: fixed;
}

.banner-application {
  background: linear-gradient(to left top, rgba(0, 0, 0, .2), rgba(0, 0, 0, .9)), url("{{site.baseurl}}/../images/banner-adopt.jpg") no-repeat top center;
  background-attachment: fixed;

}

.banner-home{
  background: linear-gradient(to left top, rgba(0, 0, 0, .2), rgba(0, 0, 0, .9)), url("{{site.baseurl}}/../images/banner-index.jpg") no-repeat bottom center;
  background-attachment: fixed;
}

.call-to-action p {
  color: #fff;
}

.call-to-action h1 {
  text-shadow: 1px 2px 3px #000;
}
