.btn {
  background-color: transparent;
  border: 2px solid #c83645;
  border-radius: 25px;
  color: #c83645;
  box-shadow: 2px 7px 10px rgba(200, 54, 69, .1);
}

.btn:hover {
  background-color: #de9d9b;
  border: 2px solid #c83645;
  border-radius: 25px;
  box-shadow: 0px;
  color: #fff;
}

.btn-white {
  background-color: transparent;
  border: 2px solid #c83645;
  border-radius: 25px;
  color: #fff;
  box-shadow: 2px 7px 10px rgba(200, 54, 69, .1);
}
