---
layout: default
title: Homepage
bannerClass: banner-application
meta: Apply today to adopt your wild animal
---

{% include banner.html
  hOne='Adopt Today'
  callToAction='Here you will find the perfect animal for you.'
  actionButton='View our animals'
%}

{% include rules-for-adoption.html
  intro-adoption='ABOWA iniciative'
  sideNote='Please fill in as much information as possible in each tab. If the application is not complete, we cannot consider you for one of our dogs. Adopting a rescued animal is a serious endeavor and should not be done as a "spur of the moment" action.'
  firstHTwo='Adoption Fees'
  firstP='The adoption fees for each shelter bear ranges from <strong class="bold">$150.00 – $250.00</strong>'
  secondP='The adoption fees for other animals range from <strong class="bold">$150.00 – $270.00</strong>'
  secondHTwo='Important Facts'
  infoOne='All ABOWA Bears are spayed or neutered, wormed and vaccinated for kennel cough, distemper virus, parvo virus, administered flea and tick prevention/control and given the rabies vaccine if age appropriate.'
  infoTwo='Every other animals are spayed or neutered, vaccinated for FVRCP, tested for Feline Leukemia and FIV, administered flea and tick prevention /control, and given the rabies vaccine if age appropriate.'
  infoThree='The adoption price includes a micro chip registered in your name at the time of adoption. Any Animal that is six months of age or older will be tested for Heartworms and if found negative, will be kept on Heartworm prevention during their shelter stay, after the adoption it is up to the adopter to continue the highly recommended Heartworm preventative treatment.'
  infoFour='Adopters get a free consultation at an area vet partner within 14 days of adoption.'
  thirdHTwo='ABOWA Rescue Adoption information'
  endNote='<b class="bold">All highlighted areas are mandatory.</b> We need to know you as well as we can so please provide us with information that is as accurate as possible. Most of these questions do not have "right" or "wrong" answers. They are a way for us to verify that the animal you have selected would be well suited to your home and lifestyle. Frequently Asked Questions about adoption.'
%}

{% include form.html %}
