<div class="animal-card gutter-1-4 animal-index island-1-4">
  <a class="link-box" href="{{site.baseurl}}{{include.data.url}}">
    <div class="embed embed-3by2">
      <img class="embed-item img-flex" src="{{site.baseurl}}/{{include.data.image}}" alt="Photo of {{page.title}}" aria-details="An-image-of-Loretta-the-4-year-old-brown-bear">
    </div>
    <p class="animal-name giga push-0 pad-t serif bold">{{include.data.animalName}}</p>
    <p class="animal-type push-0">{{include.data.animalType}}</p>
    <p class="animal-age milli">{{include.data.animalAge}}</p>
  </a>
</div>
