<footer role="contentinfo" id="content-info" class="pad-t ad-info-footer " tabindex="0">
    <section class="push wrapper">
      <div class="grid gutter">
        <div class="unit [xs-1 s-1 m-1-2 l-1-2] gutter-1-2" id="newsletter">
          <form action="//formspree.io/alve0026@algonquinlive.com" method="POST">
            <fieldset>
              <legend class="giga push-0 h3">Newsletter</legend>
              <hr>
              <p class="milli bold push-1-4 gutter">Subscribe to our newsletter</p>
              <div class="push-1-2 gutter">
                <div class="push-1-4 gutter">
                  <label class="milli" for="first-name">First Name</label>
                  <input type="text" id="first-name" required>
                </div>
                <div class="push-1-4 gutter">
                  <label class="milli" for="last-name">Last Name</label>
                  <input type="text" id="last-name" required>
                </div>
                <div class="push gutter">
                  <label class="milli" for="email">Email Address</label>
                  <input type="email" id="email" required>
                </div>
                <div class="text-center push-0">
                  <button type="submit" class="btn btn-white btn-ghost gutter bold micro" name="button">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>

        <div class="unit [xs-1 s-1 m-1-2 l-1-2] gutter-1-2" id="services">
          <h3 class="giga push-1-4">Services</h3>
          <hr>
          <nav>
            <ul class="list-group gutter text-left">
              <li><p class="icon-link footer-nav push-0 inline">Surrender a Pet</p></li>
              <li><p class="icon-link footer-nav push-0 inline">Lost and Found</p></li>
              <li><p class="icon-link footer-nav push-0 inline">Animal Licensing</p></li>
              <li><p class="icon-link footer-nav push-0 inline">Humane Education</p></li>
              <li><p class="icon-link footer-nav push-0 inline">Microchipping</p></li>
              <li><p class="icon-link footer-nav push-0 inline">Cremation</p></li>
            </ul>
          </nav>
        </div>
        <div class="unit [xs-1 s-1 m-1-2 l-1-2] gutter-1-2 " id="contact-us">
          <h3 class="giga push-1-4">Contact Us</h3>
          <hr>
          <div class=" gutter">
            <dl >
              <dt class="bold">3173 Hwy K 68 Ottawa,</dt><dd class="bold"> Kansas 66067</dd>
              <dt>Phone:</dt><dd class="push-0">(888) 888-8888</dd>
              <dt>Fax:</dt><dd>(888) 888-8888</dd>
            </dl>
          </div>
        </div>
        <div class="unit [xs-1 s-1 m-1-2 l-1-2] gutter-1-2" id="hours">
          <h3 class="giga push-1-4"> Hours</h3>
          <hr>
          <dl id="hours-day" class="list-group-inline gutter hours">
            <dt class="bold">Mon:</dt><dd class="gutter-1-4 push-0"> 11AM - 6PM</dd>
            <dt class="bold">Tues:</dt><dd class="gutter-1-4 push-0 bold">Closed</dd>
            <dt class="bold">Wed:</dt><dd class="gutter-1-4 push-0">1AM - 6PM</dd>
            <dt class="bold">Thurs:</dt><dd class="gutter-1-4 push-0">1AM - 6PM</dd>
            <dt class="bold">Fri:</dt><dd class="gutter-1-4 push-0 bold">Closed</dd>
            <dt class="bold">Sat:</dt><dd class="gutter-1-4 push-0">1AM - 6PM</dd>
            <dt class="bold">Sun:</dt><dd class="gutter-1-4 push-0 bold">Closed</dd>
          </dl>

        </div>

      </div>
    </section>

    <section class="copyright island-1-2 text-center">
      <small class="micro push-0">Copyright©2015 Adopt Bears and Other Wild Animals Shelter.</small>
      <small class="micro push-0">All rights reserved.</small>
    </section>
  </footer>
