<section class="pad-t-2 pad-b-2 gutter wrapper" tabindex="0">
  <form class="push-0 wrapper" action="//formspree.io/alve0026@algonquinlive.com" method="POST">
    <fieldset>
      <legend class="pad-t zetta push">About you</legend>
      <div class="grid">
        <div class="unit [ xs-1 s-1 m-1 l-1 ] pad-b push-1-2">
          <div class="grid">
            <div class="unit xs-1-2 s-1 m-1-2 l-1-2">
              <label class="milli" for="name-animal">Name of the animal on the ABOWA website:</label>
            </div>
            <div class="unit xs-1 s-1 m-1-2 l-1-2 ">
              <input type="text" id="name-animal" name="name-animal">
            </div>
          </div>
        </div>

        <div class="unit [ xs-1 s-1 m-1 l-1 ]">
          <div class="grid">
            <div class="unit [ xs-1 s-1 m-3-4 l-3-4 ]">
              <label for="checkbox-1" class="milli push-1-2 gutter">I understand that this application form is not a guarantee that the animal I have applied for will still be available if my application to adopt an animal is approved, as there could be several applications for this dog already in progress or the dog may have a requirement that my home does not provide.</label>
            </div>
            <div class="unit [ xs-1-2 s-1 m-1-4 l-1-4 ] push-2">
              <select id="checkbox-1" name="understand">
                <option value="yes-1">yes</option>
                <option value="no-1">no</option>
              </select>
            </div>
          </div>
        </div>

        <div class="unit [ xs-1 s-1 m-1 l-1 ] ">
          <div class="grid">
            <div class="unit [ xs-1 s-1 m-3-4 l-3-4 ] ">
              <label for="checkbox-2" class="milli push-1-2 gutter">I understand that ABOWA does not approve their animals to applicants on a "first come first serve" basis, it is the best interest of the animal that is considered in the event of multiple applications for the same animal and the home best suited to the specific needs of the animal will be selected.</label>
            </div>
            <div class="unit [ xs-1-2 s-1 m-1-4 l-1-4 ] push-2">
              <select id="checkbox-2" name="if-not-approved">
                <option value="yes-2">yes</option>
                <option value="no-2">no</option>
              </select>
            </div>
          </div>
        </div>

        <div class="unit xs-1 s-1 m-1 l-1">
          <div class="grid">
            <div class="unit [ xs-1 s-1 m-3-4 l-3-4 ] ">
              <label for="checkbox-3" class="milli push-1-2 gutter">In the event that the animal I have applied for is approved to another adopter before my application is processed I will select another animal from the ABOWA website and continue with my application screening.</label>
            </div>
            <div class="unit [ xs-1-2 s-1 m-1-4 l-1-4 ] push-2">
              <select id="checkbox-3" name="in-event">
                <option value="yes-3">yes</option>
                <option value="no-3">no</option>
              </select>
            </div>
          </div>
        </div>

        <div class="unit [ xs-1 s-1 m-1 l-1 ] ">
          <div class="grid">
            <div class="unit [ xs-1 s-1 m-3-4 l-3-4 ] ">
              <label for="checkbox-4" class="milli push-1-2 gutter"> I understand and accept that virtually all "rescued" animal will have behavioral issues of varying degrees. Many of these animals have been abused or neglected and have a tendency to be more timid and/or defensive than an animal raised from birth by a knowledgeable and responsible dog owner. I understand and accept that while all known behavioral issues will be disclosed prior to the adoption being completed, it is entirely possible that minor or major behavioral issues may arise after the adoption has occurred and the dog is in my home. I am not expecting a pre-trained animal and am willing to work with this dog to help it overcome any issues it may have, or develops while under my care.</label>
            </div>
            <div class="unit [ xs-1-2 s-1 m-1-4 l-1-4 ] push-2">
              <select id="checkbox-4" name="behavioral">
                <option value="yes-4">yes</option>
                <option value="no-4">no</option>
              </select>
            </div>
          </div>
        </div>

        <div class="unit [ xs-1 s-1 m-1 l-1 ] ">
          <div class="grid">
            <div class="unit [ xs-1 s-1 m-3-4 l-3-4 ] ">
              <label for="checkbox-5" class="milli push-1-2 gutter">I understand and accept that although all ABOWA animals have been evaluated by a veterinarian, and that a copy of the veterinarian's report(s) will be provided at the time of adoption, it is possible that the animal may have minor or major medical issues that are undiagnosed. I understand and accept that the approximate age of the animal is estimated by a veterinarian and may be slightly or significantly inaccurate.</label>
            </div>
            <div class="unit [ xs-1-2 s-1 m-1-4 l-1-4 ] push-2">
              <select id="checkbox-5" name="health">
                <option value="yes-5">yes</option>
                <option value="no-5">no</option>
              </select>
            </div>
          </div>
        </div>

        <div class="unit [ xs-1 s-1 m-1 l-1 ] ">
          <div class="grid">
            <div class="unit [ xs-1 s-1 m-3-4 l-3-4 ] ">
              <label for="checkbox-6" class="milli push-1-2 gutter">I have verfied that this dog is being fostered in a location close enough for me to personally travel to, in order to adopt this animal, should I be the approved adopter.</label>
            </div>
            <div class="unit [ xs-1-2 s-1 m-1-4 l-1-4 ] push-2">
              <select id="checkbox-6" name="verified">
                <option value="yes-6">yes</option>
                <option value="no-6">no</option>
              </select>
            </div>
          </div>
        </div>

        <div class="unit [ xs-1 s-1 m-1 l-1 ] push">
          <div class="grid">
            <div class="unit [ xs-1 s-1 m-3-4 l-3-4 ]">
              <label for="checkbox-7" class="milli push-1-2 gutter">I have thoroughly read and understand the information in the responsibilities that will come in adopting an animal with ABOWA.</label>
            </div>
            <div class="unit [ xs-1-2 s-1 m-1-4 l-1-4 ] push-2">
              <select id="checkbox-7" name="verified">
                <option value="yes-7">yes</option>
                <option value="no-7">no</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="grid pad-t">
        <div class="unit [ xs-1 s-1 m-1 l-1 ] gutter-1-8">

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label class="micro" for="first-last-name">First and Last Name:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <input class="input-required" type="text" name="first-last-name" id="first-last-name" required>
            </div>
          </div>

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label class="micro" for="partner-first-last-name">Partner's First and Last Name:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <input type="text" name="partner-first-last-name" id="partner-first-last-name">
            </div>
          </div>

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label class="micro" for="address">Address:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <input class="input-required" type="text" name="address" id="address" value="" required>
            </div>
          </div>

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label class="micro" for="province">Prov/State:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <input class="input-required" type="text" name="province" id="province" value="" required>
            </div>
          </div>

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label class="micro" for="email-address">Email Address:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <input class="input-required" type="email" name="email-address" id="email-address" value="" required>
            </div>
          </div>

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label class="micro" for="primary-phone">Primary Phone Number:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <input class="input-required" type="text" name="primary-phone" id="primary-phone" value="" required>
            </div>
          </div>

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label class="micro" for="alternative-phone">Alternative Phone Number:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <input type="text" name="alternative-phone" id="alternative-phone">
            </div>
          </div>

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label class="micro" for="best-time">Best time to call:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <input type="text" name="best-time" id="best-time">
            </div>
          </div>

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label class="micro" for="employer">Your Employer:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <input class="input-required" type="text" name="employer" id="employer" required>
            </div>
          </div>

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label class="micro" for="job-title">Job Title:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <input type="text" name="job-title" id="job-title">
            </div>
          </div>

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label class="micro" for="partner-employer">Partner's Employer:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <input type="text" name="partner-employer" id="partner-employer">
            </div>
          </div>

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label class="micro" for="partner-job-title">Partner's Job Title:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <input type="text" name="partner-job-title" id="partner-job-title">
            </div>
          </div>

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label class="micro" for="children">Number of Children:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <input class="input-required" type="text" name="children" id="children" required>
            </div>
          </div>

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label class="micro" for="children-age">Range of Children's Ages:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <input class="input-required" type="text" name="children-age" id="children-age" required>
            </div>
          </div>

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label class="micro" for="number-of-residents">Total number of people residing in home:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <input class="input-required" type="text" name="number-of-residents" id="number-of-residents" required>
            </div>
          </div>
        </div>

        <div class="unit [ xs-1 s-1 m-1 l-1 ] gutter-1-8">

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label class="micro" for="your-age">Your Age:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <input class="input-required" type="text" name="your-age" id="your-age" required>
            </div>
          </div>

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label class="micro" for="partner-age">Partner's Age:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <input type="text" name="partner-age" id="partner-age">
            </div>
          </div>

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label class="micro" for="address-city">City:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <input class="input-required" type="text" name="address-city" id="address-city" required>
            </div>
          </div>

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label class="micro" for="address-postal-code">Postal Code:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <input class="input-required" type="text" name="address-postal-code" id="address-postal-code" required>
            </div>
          </div>

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label class="micro" for="alternative-email">Alternative Email:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <input type="email" name="alternative-email" id="alternative-email" value="">
            </div>
          </div>

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label for="phone-type" class="micro">Type:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <select class="input-required" id="phone-type" name="verified" required>
                <option value="">Home</option>
                <option value="">Cell</option>
                <option value="">Work</option>
                <option value="">Other</option>
              </select>
            </div>
          </div>

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label for="phone-type-2" class="micro">Type:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <select id="phone-type-2" name="verified">
                <option value="">Home</option>
                <option value="">Cell</option>
                <option value="">Work</option>
                <option value="">Other</option>
              </select>
            </div>
          </div>

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label for="permision-call-work" class="micro">Can we call you at work?</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <select id="permision-call-work" name="permision-call-work">
                <option value="yes-no-1">yes</option>
                <option value="yes-no-1">no</option>
              </select>
            </div>
          </div>

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label class="micro" for="employer-phone">Your Employer's Phone Number:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <input class="input-required" type="text" name="employer-phone" id="employer-phone" value="" required>
            </div>
          </div>

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label class="micro" for="employed-since">Employed Since:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <input type="text" name="employed-since" id="employed-since">
            </div>
          </div>

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label class="micro" for="partner-employer-phone">Partner's Employer's Phone Number:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <input type="text" name="partner-employer-phone" id="partner-employer-phone">
            </div>
          </div>

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label class="micro" for="partner-employed-since">Employed Since:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <input type="text" name="partner-employed-since" id="partner-employed-since">
            </div>
          </div>

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label for="children-gender" class="micro push-1-2">Children genders:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <select id="children-gender" name="children-gender">
                <option value="gender-select">Both</option>
                <option value="gender-select">Girl</option>
                <option value="gender-select">Boy</option>
                <option value="gender-select">Unidentified</option>
              </select>
            </div>
          </div>

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label class="micro" for="allergies-explanation-message">Does anyone have any allergies? If so, please explain:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <textarea id="allergies-explanation-message"></textarea>
            </div>
          </div>

          <div class="grid">
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push-1-2">
              <label class="micro" for="unspecified-age">Age(s) of any not already not specified:</label>
            </div>
            <div class="unit [ xs-1 s-1 m-1-2 l-1-2 ] push">
              <input type="text" name="unspecified-age" id="unspecified-age" value="">
            </div>
          </div>
        </div>
        <div class="unit [ xs-1 s-1 m-1 l-1 ] text-center pad-t-2 pad-b-2">
          <button type="submit" class="btn btn-ghost">Submit your form</button>
        </div>
      </div>
    </fieldset>
  </form>
</section>
