<section class="pad-t-2 pad-b-2 gutter" id="about-us" tabindex="0">
      <div class="wrapper island">
        <h2 class="pad-t push-0">{{include.intro-adoption}}</h2>
        <p class="push-2">{{include.sideNote}}</p>
        <article>
          <div>
            <h3 class="push-1-2">{{include.firstHTwo}}</h3>
            <p class="push-0">{{include.firstP}}</p>
            <p>{{include.secondP}}</p>
          </div>
          <div>
            <h3 class="push-1-2">{{include.secondHTwo}}</h3>
            <p class="push-0">{{include.infoOne}}</p>
            <p class="push-0">{{include.infoTwo}}</p>
            <p class="push-0">{{include.infoThree}}</p>
            <p>{{include.infoFour}}</p>
          </div>
          <div>
            <h3 class="push-1-2">{{include.thirdHTwo}}</h3>
            <p>{{include.endNote}}</p>
          </div>
        </article>
      </div>
    </section>
